[data-theme="light"] {
  --bg-color: #F8FAFD;
  --shadow-color: #e1e3e4;
  --text-color: black;
}

[data-theme="dark"] {
  --bg-color: #111111;
  --shadow-color: #333333;
  --text-color: white;
}

:root {
  --opacity-small: 0.3;
  --opacity-big: 0.6;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.home-container {
  display: flex;
  height: 100%;
  padding-top: 5rem;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 5rem;
  z-index: 49;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 1.5rem;
}

.nav-item {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--text-color);
    font-size: 14px;
    cursor: pointer;
    padding: 0;
}

.nav-item:hover {
    background-color: var(--shadow-color)
}

.nav-item.active {
    background-color: var(--shadow-color);
    font-weight: 500;
}

.search-bar {
    width: 300px;
    height: 32px;
    border-radius: 16px;
    background-color: var(--shadow-color);
    display: flex;
    align-items: center;
    padding-left: 12px;
}

.search-bar input {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    color: var(--text-color);
    font-size: 14px;
}
.search-bar input:focus {
    outline: none;
}

.logo {
    font-size: 22px;
    font-weight: 400;
    margin-right: 15px;
}

.sidebar {
    width: 150px;
    background-color: var(--bg-color);
    height: calc(100vh - 64px);
}

.side-item {
    padding: 0 12px 0 26px;
    height: 32px;
    display: flex;
    gap: 8px;
    align-items: center;
    border-radius: 0 16px 16px 0;
    color: var(--text-color);
    font-size: 14px;
    cursor: pointer;
}
.side-item:hover {
    background-color: var(--shadow-color);
}
.side-item.active {
    background-color: var(--shadow-color);
    font-weight: 500;
}

